.tables {
    margin: 0 40px;
}
img {
    width: 165px;
    height: 126px;
}

#boots {
    width: 420px;
}

#boots>p {
    text-align: center; 
    margin: 0 40px;
}
#back{
    background-image: url(images/msedge_IDJpZ4RZZA.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px; 
    width: 450px;
}
#pink {
    background-color: rgb(230, 129, 146);
}

#green {
    background-color: green;
}
#gray {
    background-color: gray;
}
#orange {background-color: orange;
}
#rainbow {
    width: 400px; 
    height: 150px;
}
#arial {
    font-family: Arial, Helvetica, sans-serif;
    color: red;
    font-size: x-large;
}
#bigger {
    font-family: 'Times New Roman', Times, serif;
    color: red;
    font-size: xx-large;
}
